*{box-sizing: border-box;}

.container {
    display:flex;
    border: solid black 1px;
    width: 100%;
    height: 700px;
}

.leftside {
    /* border: solid black; */
    width: 400px;
    flex-shrink: 0;
    height: 100%;

}
.rightside {
    /* border: solid black; */
    width: 1600px;
    height: 100%;
}
.stack1 {
    display: flex;
    width: 100%;
    height: 3.5%;
}

.backButton{
    background-color: #306;
    color: #fff;
    height: 100%;
    width: 6%; 
    padding: 3px 5px 0 5px; 
}

.tabTitle{
    background-color: #60C;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 3px 5px 0 5px;  
}

.stack2 {
    height: 5%;
    border-top: solid black 1px;
}

.searchBar{
    background-color: #CCC;
    height: 100%;
    width: 100%;
    display: flex;
}

input[type=text]{
    width: 100%;
    border: solid black 1px;
    margin: 5px 5px;
    font-size: 14px;
}

input[type=submit] {
    background-color: #6600CC;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

textarea[type=text]{
    width: 90%;
    border: solid black 1px;
    margin: 5px 5px;
    display: inline-block;
    font-size: 16px;
    font-family: "MS Shell Dlg 2", sans-serif;
}

.stack3 {
    /* border: solid yellow; */
    height: 3.5%;
}

button{
    background-color: #60C;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.roomsFound{
    background-color: #ccc;
    height: 100%;
    width: 100%;
    display: inline-block;
}

.stack4 {
    height: 88%;
}

.stack5 {
    display:flex;
    /* border: solid firebrick; */
    height: 3.5%;
}

.roomTitle{
    background-color: #6600CC;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 3px 5px 0 5px;
}

.stack6 {
    height:81.5%;
    /* border: solid goldenrod; */
}

.chatMessages{
    border: solid black 1px;
    height: 100%;
    width: 100%;
    display: inline-block;
    word-wrap: normal;
}

.stack7 {
    display: flex;
    /* border: solid indianred; */
    height:15%;
}

.chatInput{
    display: inline-flex;
    background-color: #ccc;
    width: 100%;
    padding: 5px 5px;
    border-left: solid black 1px;
}