main{
    width: 200px;
    height: 200px;
    background-color: blue;
    font-size: 1rem
}

#chat-display{
    width: inherit;
    height: 150px;
    background-color: red;
}
#text-box{
    width:inherit;
    height:2em;
}