* {
    margin: 0;
    /* font goes here */
}
.app{
    display: flex;
    flex-direction: row;
}

.message{
    display: block;
}
/* scrollbar css */

/* width */
::-webkit-scrollbar {
    width: 10px;
    margin: 0;
    padding: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    height: 10px;
    width: auto;
    background-color: #3d06be;
    border-radius: 3px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  
