@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Open+Sans:wght@400;700&display=swap');
* {
    /* font-family: 'Open Sans Condensed'; */
    font-family: 'Open Sans', 'Open Sans Condensed', Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    /* font goes here */
}
.app{
    display: flex;
    flex-direction: row;
}

.message{
    display: block;
}
/* scrollbar css */

/* width */
::-webkit-scrollbar {
    width: 10px;
    margin: 0;
    padding: 0;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    height: 10px;
    width: auto;
    background-color: #6600cc;
    border-radius: 3px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  
