* {
	box-sizing: border-box;
}

.chatComponent{
	display: flex;
	flex: 2;
	flex-direction: column;
	max-height: 100vh;
	width: 100%;
	overflow: hidden;
}

.button {
    display: inline;
	background-color: #6600cc;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 16px;
	flex-shrink: 0;
	margin: 0 5px;
	padding: 6px;
}
.message{
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 0px;
}

.chatModule {
	/* border: solid black; */
	display: flex;
	height: 100%;
	max-height: 100vh;
	width: 100%;
}

.chatmessagelist{
	display: flex;
	height: 100%;
	flex-direction: column;
}

/* .stack5 {
	display: flex;
    border: solid firebrick;
	height: 25px; 
} */

.roomTitle {
	background-color: #6600cc;
	color: #fff;
	width: 100%;
	height: 25px;
	padding-left: 3px;
	position: fixed;
	font-weight: 700;
}

.chatMessages {
	border-top: solid black 1px;
	border-left: solid black 1px;
	height: 100%;
	flex-basis: 100%;
	word-wrap: normal;
	padding: 0px;
}

.username {
	font-weight: 500;
	font-size: 14px;
	margin-top: 25px;
	margin-right: 5px;
	color: red;
}

.time {
	font-weight: 500;
	font-size: 12px;
	font-style: italic;
	color: #666;
}
.userMessage{
	display: block;
	margin: 0;
	padding: 0;
}
.message {
	margin: 15px auto 15px;
}

/* .stack7 {
	display: flex;
	height: 90px; 
} */

.chatOuterUI {
	background-color: #ccc;
	display: flex;
	flex-direction: column;
	padding: 5px 5px;
	border: solid #000000 1px;
	font-size: 16px;
}

.chatInput {
	background-color: #fff;
	display: inline-flex;
	flex-direction: row;
	flex-shrink: 1;
	padding: 5px 5px;
	border: solid #6600cc 1px;
	font-size: 16px;
	width: calc(100% - 60px);
}

.groupOfMessages{
	padding: 20px 0 0 0;
	height: 100%;
	width: 100%;
	flex-shrink: 1;
	overflow: auto;
}
