.roomsComponent {
	display: flex;
	flex: 1;
	flex-direction: column;
	border-right: 1px solid black;
	height: 100vh;
	margin-top: 0;
	margin-left: 0;
	max-width: 300px;
	color: black;
	flex-shrink: 0;
	box-sizing: border-box;
}
.bold{
	font-weight: 700;
}
.header {
	flex-shrink: 1;
	margin-right: 0;
}
.search p {
	margin: auto;
}
.desc {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #60c;
	color: white;
}

.search {
	display: flex;
	align-items: center;
}
.searchBar {
	border: none;
	border-radius: 2.5px;
	margin-right: 3px;
}

.logo {
	flex-shrink: 1;
	margin: auto, 0px, auto, 1px;
	width: 100%;
	max-width: 40%;
	cursor: pointer;
}
.roomsContainer {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	overflow: auto;
}

/* .roomsContainer:first-child {
	margin-top: 0px;
}

.roomsContainer:last-child {
	margin-bottom: 3px;
} */

.roomButton {
	margin-top: 3px;
	margin-left: 1px;
	padding: 0;
	margin-right: 0;
	background-color: #eee;
	color: black;
	border: none;
	border-radius: 1.5px;
	cursor: pointer;
	font-size: 11px;
	text-align: left;
	order: 999;
}

.displayorder {
	order: 1;
}

.roomButton:hover,
.roomButton:focus {
	background-color: #60c;
	color: white;
}

.roomButton:active {
	background-color: #90c;
}

.backButton {
	width: 25px;
	cursor: pointer;
	/* filter: invert(100%) sepia(0%) saturate(6199%) hue-rotate(113deg)
		brightness(131%) contrast(92%); */
}
